.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.update-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 80%;
  max-width: 800px;
}

.update-heading {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.update-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.update-checkbox label {
  margin-left: 0.5rem;
}

.update-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.prev-button, .next-button, .update-price-button {
  background-color: #28c64f;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.prev-button:hover, .next-button:hover, .update-price-button:hover {
  background-color: #28c64f95;
}

.prev-button:disabled, .next-button:disabled, .update-price-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.delete-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 80%;
  max-width: 800px;
}

.delete-product h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.delete-product-options {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.delete-product-options button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1rem;
}

.delete-product-options button:hover {
  background-color: #28c64f;
}

.delete-product-options button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.delete-product-details {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.product-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.product-image-container img {
  max-width: 100%;
  max-height: 200px;
}

.login-view {
  /* add your custom styles here */
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.login-view h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.login-view label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-view input[type='email'],
.login-view input[type='password'] {
  display: block;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.login-view button[type='submit'] {
  display: block;
  width: 95%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-view button[type='submit']:hover {
  background-color: #0062cc;
}

#read-view1 {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

.signup-view {
  /* add your custom styles here */
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.signup-view h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.signup-view label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.signup-view input[type='fname'],
.signup-view input[type='lname'],
.signup-view input[type='email'],
.signup-view input[type='password'] {
  display: block;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.signup-view button[type='submit'] {
  display: block;
  width: 95%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-view button[type='submit']:hover {
  background-color: #0062cc;
}

input::placeholder {
  color: #99999987;
}

#read-view2 {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

.add-view {
  /* add your custom styles here */
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.add-view h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.add-view label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.add-view input[type='_id'],
.add-view input[type='title'],
.add-view input[type='price'],
.add-view input[type='description'],
.add-view input[type='category'],
.add-view input[type='image'],
.add-view input[type='rate'],
.add-view input[type='count']
{
  display: block;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.add-view button[type='submit'] {
  display: block;
  width: 90%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-view button[type='submit']:hover {
  background-color: #0062cc;
}



